apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_kanboard_secret }}
  namespace: {{ kubernetes_kanboard_namespace }}
type: Opaque
data:
  db_url: "{{ kubernetes_kanboard_database_url | b64encode }}"
